@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&display=swap');

root{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    margin:0;
    overflow:hidden;
}
a:link {
  color:#000;
}
.full-view{
margin-top:0;
padding:0;
background: url("note.jpg");
background-position: center; 
background-size: cover;
/*background-blend-mode: multiply;*/
height: 100vw;
width:100vw;
}
.full-view-2{
  margin-top:0;
padding:0;
background: #aaa;

/*background-blend-mode: multiply;*/
height: 100vw;
width:100vw;
}
.container-head{
    margin:0;
    font-size:35px ;
    color: #000;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}
.container{
margin:10%;
diplay:grid;
grid-template-columns: 1fr 1fr;
background-color:#eee ;
border-radius: 20px;
box-shadow: 10px 10px 10px #000;
}

.signin{
    padding-left: 10em;
}
.input-text{
    width:70% ;
    height:30px;
    display: block;
}

.input-submit{
    background-color: #ff2211;
    color: #ffffff;
}
.note-button{
  width:80px;
  height:30px;
  display:block;
  background-color: #ff2211;
  color: #ffffff;
  text-decoration: none;
}

.input-submit:hover{
     background-color: #66f;
}
.note-button:hover{
  background-color: #66f;
}
.form-head{
    color: #000;
    font-size: 25px;
}

.note-form{
    margin-left:25%;

}

textarea{
    margin-top: 5px;
    display: block;
}
.notes-container{
    display:flex;
    flex-wrap: wrap;
}
.notes-head{
    text-align: center;
}

.note{
    height: 400px;
    width: 250px;
    margin-left:35px;
    margin-top: 5px;
    font-size: 25px;
    border-radius: 13px;
    box-shadow:4px 3px 5px #000;
    background-color: #fff;
}

.note:hover{
  background: #ff8;

}