{% extends 'base.html' %}
{% block content %}
    <div class="note-form">
	<form action="{{url_for("notess", username=username)}}" method="POST">
		<input class="input-text"type="text" name="title" placeholder="title">
		<textarea cols="85" rows="10" type="text" name="note" placeholder="Content"> </textarea>
		<input class="input-text input-submit" type="submit" value="ADD">
	</form>
    </div>
<div class="notes-container">
	{% for note in notes %}
	<div class="note">
		<h1> {{note.title}} </h1>
		<p> {{note.note}} </p>
    <p> written by {{ note.author}}</p>
		<form method="POST" action="/delete">
  <input type="hidden" value="{{note.title}}" name="title">
  <input class="note-button" type="submit" value="Delete">
  <button class="note-button"><a href="{{ url_for('update', id=note._id, username=username) }}">Update</a></button>

</form>

</div>
	{% endfor %}
</div>
{% endblock %}